<footer style=" width: 100%; text-align: center; position: absolute; left: 0; bottom: 0;">
  <p>Made by: Dmitriy Filatov. GitHub: <%= github_url('Dmitriy-Filatov', 'thinknetica-RoR') %></p>
  <%= current_year %>
  <p>
    About: In the center of the system are the tests with questions and answers. 
    Two groups of users interact with the tests. 
    Users from the first group can choose tests and pass them. 
    Users from the second group (admins) can create and manage tests.
    <%= link_to "Educational project at the Thinknetica online school.", 'https://thinknetica.com', target: '_blank' %>
  </p>
</footer>