<h1>Create New Test</h1>

<form action=" /tests" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <lable for="test-title">Title:</lable>
    <input type="test" name="test[title]" id="test-title">
  </p><br>

  <p>
    <lable for="test-level">Level:</lable>
    <input type="text" name="test[level]" id="test-level">
  </p><br>

  <input type="submit" value="Create">
</form>
